/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/resources/views/mail/booking-cancellation.blade.php
/resources/views/mail/booking-confirmation.blade.php
/resources/views/mail/booking-confirmation-packages.blade.php
/resources/views/mail/booking-enquiry-customer.blade.php
/resources/views/mail/booking-enquiry.blade.php
/resources/views/mail/booking-mail.blade.php
/resources/views/mail/card-setup-link.blade.php
/resources/views/mail/contact.blade.php
/resources/views/mail/seller-booking-confirmation.blade.php
/resources/views/mail/additional-payment-mail.blade.php
/resources/views/mail/booking-balance.blade.php
/resources/views/mail/booking-prior-arrival.blade.php
/resources/views/mail/extra-booked.blade.php
/resources/views/mail/final-payment-mail.blade.php